html {
    scroll-behavior: smooth;
}

p, a, h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.art_image {
    width: 100px; height: 100px;
    background-size: 250px; background-size: cover;   
}

.art_image.lazy {
    background-image: none;
    background: #fff;
}