:root {
	--primary: #e93a3a;
	--primary-light: #ff7165;
	--primary-dark: #af0013;
	--secondary: #424242;
	--secondary-light: #6d6d6d;
	--secondary-dark: #1b1b1b;
	--text-dark: #000;
	--text-light: #fff;
	--font: 'Manuale', serif;
	--font2: 'Bitter', serif;
	--font-size: 14pt;
	--font-mid: 16pt;
}

.hideme {
	opacity: 0;
}

::-webkit-scrollbar {width: 6px;height: 6px;}
::-webkit-scrollbar-button {width: 0px;height: 0px;}
::-webkit-scrollbar-thumb {background: #e1e1e1;border: 0px none #ffffff;border-radius: 0px;}
::-webkit-scrollbar-thumb:hover {background: #ffffff;}
::-webkit-scrollbar-thumb:active {background: #1b1b1b;}
::-webkit-scrollbar-track {background: #666666;border: 0px none #ffffff;border-radius: 0px;}
::-webkit-scrollbar-track:hover {background: #666666;}
::-webkit-scrollbar-track:active {background: #333333;}
::-webkit-scrollbar-corner {background: transparent;}

html {
	background: var(--secondary-dark);
}

body {
	margin: 0; padding: 0;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	text-decoration: none;
	font-weight: 300;
}

p {
	font-size: 12pt;
	font-family: 'Roboto';
	font-weight: 200;
}

a:hover {
	color: var(--primary);
}

#loading {
	width: 100vw; height: 100vh;
	position: fixed;
	background: #000;
	color: var(--text-light);
	font-family: var(--font2);
	font-size: var(--font-size);
	z-index: 10;
}

.flex_box {
	display: flex;
}

.align_cen {
	align-items: center;
}

.justify_cen {
	justify-content: center;
}

.flex_col {
	flex-direction: column;
}

.flex_row {
	flex-direction: row;
}

.text_light {
	color: var(--text-light);
}

.navigation_bar {
	position: fixed;
	width: 100vw; height: 80px;
	background-color: var(--secondary-dark);
	z-index: 5;
}

#nav-logo {
	color: var(--text-light);
	font-size: var(--font-mid);
	font-family: var(--font2);
	margin: 25px;
	margin-left: 60px;
	float: left;
}

#menu-button {
	float: right;
	margin: 25px;
}

#nav {
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
}

#nav-links {
	width: 100vw; height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background: #000;
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	text-align: right;
}

.nav_link {
	color: var(--text-light);
	font-size: var(--font-mid);
	font-family: var(--font);
	float: right;
	margin: 5px 25px;
	display: block;
}

.header_container {
	padding: 60px;
}

#moon-container {
	width: 100vw; height: 648px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

#menu-header-content {
	z-index: 1;
}

#moon-video {
	position: absolute;
	min-width: 100%; min-height: 100%;
	z-index: 0;
}

#dla-logo {
	width: 150px;
	padding-right: 20px;
	z-index: 1;
}

#menu-buttons {
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.menu-link {
	color: var(--text-light);
	font-size: 16pt;
	font-family: var(--font);
	padding: 2px;
}

.games_button {
	padding: 15px 20px;
	background: var(--primary);
	color: var(--text-light);
	font-size: 10pt;
	border-radius: 5px;
}

.games_button:hover {
	color: var(--text-light);
	background: var(--primary-dark);
}

.games_button2 {
	padding: 15px 20px;
	background: #1565c0;
	color: var(--text-light);
	font-size: 10pt;
	border-radius: 5px;
}

.games_button2:hover {
	color: var(--text-light);
	background: #003c8f;
}

.twitch_button {
	padding: 15px 20px;
	background: #9c27b0;
	color: var(--text-light);
	font-size: 10pt;
	border-radius: 5px;
}

.twitch_button:hover {
	color: var(--text-light);
	background: #6a0080;
}

#game-preview {
	height: 600px;
	border-radius: 25px;
}

.footer_container {
	height: 150px;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}

.footer_link {
	padding: 5px;
}

#legal {
	width: 200px;
	color: var(--text-light);
	font-family: var(--font);
	font-size: 12pt;
	margin: 5px; padding: 0;
}

.contact_button {
	margin: 5px;
	width: max-content; height: max-content;
	color: var(--text-light);
	font-family: var(--font2);
	font-size: 10pt;
	padding: 15px;
	border-bottom: 2px solid #fff;
	transition: all 0.1s ease;
}

.contact_button:hover {
	border-bottom: 0;
	transform: translateY(2px);
	transition: all 0.1s ease;
}
